<?xml version='1.0' encoding='utf-8'?>
<widget id="com.veridian.ai" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Veridian</name>
    <description>
        El corrector y analizador de textos inteligente.
    </description>
    <author email="tucorreo@dominio.com" href="">
        Juan Gonzalo Marichal
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-build-tool" value="gradle" />
        <!-- Preferencias para la compilación moderna de Android -->
    <preference name="android-minSdkVersion" value="22" />
    <preference name="android-targetSdkVersion" value="33" />
    <preference name="android-compileSdkVersion" value="33" />
    <preference name="android-build-tool" value="33.0.2" />
    <preference name="AndroidXEnabled" value="true" />

</widget>
